@import "@styles/variables.scss";

.error {
  background-color: $gray;

  padding-bottom: 150px;
}

.inner {
  border: 1px solid #dcdcdc;

  background-color: #fff;
}

.innerTitle {
  font-size: 24px;

  margin: 0;

  font-weight: 500;

  background-color: #fff;

  color: #444;

  padding: 23px 27px;

  border-bottom: 1px solid #dcdcdc;
}

.outher {
  background-color: $green;

  text-align: center;

  color: #fff;

  padding: 100px 0;
}

.outherStatus {
  font-family: "Open Sans", sans-serif;

  font-weight: 800;

  font-size: 300px;

  line-height: 300px;

  position: relative;

  &::after {
    content: url("../../assets/error/error.png");

    width: 150px;
    height: 292px;

    position: absolute;

    margin-left: 20px;
  }
}

.outherTitle {
  margin-bottom: 30px;

  font-weight: 300;

  font-size: 30px;
}

.outherText {
  max-width: 500px;

  margin: 0 auto;

  font-size: 18px;

  margin-bottom: 60px;
}

.outherLink {
  font-size: 14px;

  color: #fff;

  text-transform: uppercase;

  padding: 20px 30px;

  border: 1px solid #fff;

  border-radius: 4px;
}
