.offer{
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: 
    "offer1 offer2"
    "offer1 offer3";
    gap: 17px;
}

.offer1{
    grid-area: offer1;
}

.offer2{
    grid-area: offer2;
}


.offer3{
    grid-area: offer3;
}