.wrapper {
  padding: 0;

  cursor: pointer;
}

.listItem {
  padding: 0;
}

.listItemText {
  font-size: 14px;
  line-height: 0;
  font-weight: 500;

  color: #707070;
}

.icon {
  margin-left: 20px;

  color: #707070;
}
