@import '@styles/variables.scss';

.link{
    text-decoration: none;
    flex-grow: 1;
}

.card{
    width: 270px;
    display: flex;
    flex-direction: column;
    img{
        cursor: pointer;
    }
}

.rate{
    color: $brightgreen !important;
    font-size: 15px;
}

.category{
    font-family: $fontMulish;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.71);
    margin-top: 15px;
    cursor: pointer;
}

.title{
    font-family: $fontRubik;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #555555;
    margin: 8px 0;
    cursor: pointer;
}

.price{
    font-family: $fontMulish;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: $brightgreen;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    position: relative;
}

.option{
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(236, 235, 235);
    cursor: pointer;
    margin: 4px 0;
}

.options{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 7px;
    bottom: 15px;
}

.option:hover{
    background: rgb(207, 207, 207);
}

.card:hover{
    .options{
        visibility: visible;
    }
}
