@import '@styles/variables.scss';

.wrapper{
    font-family: $fontMulish;
    position: relative;
    background: rgb(223, 247, 255);
    box-sizing: border-box;
    padding: 28px 24px;
}

.status{
    background: #00B7F1;
    border-radius: 0px 0px 0px 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.title{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #555555;
    margin-bottom: 10px;
}

.description{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
    margin-bottom: 20px;
}

.btn{
    background: $brightgreen;
    color: white;
    border-color: $brightgreen;
}

.priceWrapper{
    display: flex;
    align-items: center;
    font-family: $fontMulish;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 30px;
    .newPrice{
        color: $brightgreen;
    }
    .oldPrice{
        color: #CCCCCC;;
        text-decoration: line-through;
        margin: 0 19px 0 7px;
    }
}
.deadlineWrapper{
    display: flex;
    .deadline{
        background: $brightgreen;
        width: 40px;
        height: 40px;
        color: white;
        border-radius: 50%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 18px;
        font-family: $fontRubik;
        font-weight: 400;
        font-size: 6px;
        line-height: 120%;
        div{
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
}
