@import "@styles/variables.scss";

.product {
  padding: 110px 0px;

  background-color: $gray;
}

.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-left: -30px;
}

.btnsWrapper {
  display: flex;
  justify-content: center;

  button + button {
    margin-left: 7px;
  }
}

.btn {
  padding: 10px 20px;

  font-size: 14px;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.15);
}

.activeBtn {
  background-color: $red;

  color: #fff;
}

.card {
  flex-basis: calc(25% - 30px);

  margin-left: 30px;
  margin-top: 30px;

  flex-grow: 0;
  transition: box-shadow 500ms ease;

  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 6px 2px rgba(34, 60, 80, 0.25);
  }

  & > div:first-child {
    height: 250px;
  }
}

@media (max-width: 1400px) {
  .card {
    flex-basis: calc(33.33% - 30px);
  }
}

@media (max-width: 1150px) {
  .card {
    flex-basis: calc(50% - 30px);

    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .product {
    padding: 70px 0;
  }
  .card {
    & > div:first-child {
      height: 200px;
    }
  }
}

@media (max-width: 750px) {
  .product {
    padding: 55px 0;
  }
  .card {
    flex-basis: 100%;
    & > div:first-child {
      height: 250px;
    }
  }
}

@media (max-width: 640px) {
  .btnsWrapper {
    flex-direction: column;
  }
  .btn {
    & + & {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}
