.search {
  background: url("../../assets/bg/search-bg.jpg");
}

.searchHeight {
  min-height: 530px;
}

.searchInner {
  color: #fff;

  text-align: center;
}

.paddingMain {
  padding: 135px 0 100px;
}

.paddingRest {
  padding: 45px 0 65px;
}

.searchTitle {
  margin-bottom: 10px;

  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.searchText {
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
