@import "@styles/variables.scss";

.item {
  max-width: 370px;

  text-align: center;

  padding: 0 15px;

  &:hover {
    .icon {
      background: $green;
      svg {
        fill: #fff;
      }
    }
    .title {
      color: $green;
    }
    .text {
      color: #fff;
    }
  }
}

.icon {
  width: 114px;
  height: 114px;

  background-color: #fff;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 30px;

  transition: background-color 0.3s;

  svg {
    width: 80px;

    transition: fill 0.3s;
  }
}

.title {
  margin-bottom: 25px;
  color: #fff;

  font-size: 24px;
  font-weight: 500;

  transition: color 0.3s;
}

.text {
  font-size: 15px;

  color: #b0bec5;

  transition: color 0.3s;
}
