@import '@styles/variables.scss';

.status{
    position: absolute;
    left: 0;
    top: 0;
    background: $brightgreen;
    border-radius: 0px 0px 5px 0px;
}

.container{
    width: 1170px;
    margin: 100px auto;
}

.slideGrid{
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.title{
    font-family: $fontMulish;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    text-align: center;
}

.flex{
    font-family: $fontMulish;
    display: flex;
    justify-content: center;
    margin: 45px 0 70px 0;
    div{
        margin: 0 35px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #C2C2C2;
        cursor: pointer;
    }
    div:first-child{
        color: $brightgreen;
    }
}

.slider{
    padding-bottom: 40px !important;
}

.bullet{
    background: black;
}