@import '@styles/variables.scss';

.tranding__bullet{
    display: inline-block;
    margin: 0 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #CCCCCC;
}

.tranding__bullet_active{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $brightgreen;
}