@import "@styles/variables.scss";

.footer {
  background-color: $bg;
}

.content {
  padding: 100px 0 80px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.column {
  max-width: 270px;
  width: 100%;
}

.columnMenu {
  max-width: 220px;
  width: 100%;
}

.columnTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;

  color: #fff;

  padding-bottom: 30px;

  margin-bottom: 30px;

  position: relative;
  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 2px;

    width: 51px;
    height: 3px;

    background-color: $green;
  }
}

.columnText {
  color: #b7c3c8;

  margin-bottom: 30px;
}

.info {
  margin-top: 18px;

  font-weight: 500;
  font-size: 14px;

  color: #fff;

  display: flex;
  align-items: flex-start;

  div {
    margin-left: 17px;
  }
}

.fontIcon {
  font-size: 18px;

  margin-top: 3px;

  color: $green;
}

.columnList {
  li {
    position: relative;

    padding-left: 22px;

    margin-bottom: 13px;
    a {
      color: #b7c3c8;

      transition: color 500ms ease;
    }
    a:hover {
      color: #fff;
    }

    &::before {
      content: url("../../../assets/icons/angle-right.svg");

      position: absolute;

      top: 0;
      left: 0;
    }
  }
}

.social {
  margin-bottom: 30px;
  a {
    width: 28px;
    height: 28px;
    &:hover {
      box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.25);
    }
  }
}

.formTitle {
  margin-bottom: 15px;

  color: #fff;

  font-size: 20px;
}

.form {
  position: relative;
  input {
    border: none;

    background-color: #2f3c43;

    display: block;

    width: 100%;

    height: 40px;

    color: #fff;

    font-size: 14px;

    padding-left: 13px;
    padding-right: 50px;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: $green;
    border: none;

    height: 40px;
    width: 43px;

    cursor: pointer;
    &::before {
      content: url("../../../assets/icons/location-arrow.svg");

      position: absolute;
      top: 10px;
      left: 9px;
    }
  }
}

.copy {
  border-top: 1px solid #424d53;
}

.copyText {
  text-align: center;

  font-size: 15px;

  color: #919699;

  padding: 25px;

  margin: 0;
}

@media (max-width: 1150px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .column:first-child {
    min-width: 100%;

    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    justify-content: flex-start;
  }
  .column:last-child {
    min-width: 100%;

    margin-top: 30px;
  }
  .columnMenu {
    & + & {
      margin-left: 40px;
    }
  }
  .content {
    padding: 70px 0 50px;
  }
}

@media (max-width: 540px) {
  .column,
  .columnMenu {
    min-width: 100%;
  }
  .columnMenu {
    & + & {
      margin-left: 0;
      margin-top: 30px;
    }
  }
  .columnTitle {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .content {
    padding: 50px 0 30px;
  }
}
