@import "@styles/variables.scss";

.notification {
  height: 90px;

  display: flex;
  align-items: center;

  margin: 0 7.5px;
}

.circle {
  width: 34px;
  height: 34px;

  border-radius: 50%;

  background-color: #f5f5f5;

  position: relative;

  span {
    position: absolute;
    right: -7px;
    top: -7px;

    font-size: 11px;
    line-height: 18px;

    text-align: center;

    color: #fff;

    width: 18px;
    height: 18px;

    border-radius: 50%;
  }

  &:hover {
    & > svg {
      color: #000;
    }
  }
}

.fontIcon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: #a0a0a0;

  font-size: 14px;
}

.green {
  background-color: $green;
}

.orange {
  background-color: $orange;
}

.yellow {
  background-color: $yellow;
}
