@import '@styles/variables.scss';

.slide{
    background: lightcyan;
    box-sizing: border-box;
}

.bullet{
    display: inline-block;
    background: $lightgreen;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 7.5px;
    cursor: pointer;
}
.activeBullet {
    width: 24px;
    height: 9px;
    border-radius: 666px;
    background: $green;
    margin-bottom: 1.5px;
}

