@import "@styles/variables.scss";

.cardMini {
  display: flex;
  align-items: center;

  height: 90px;

  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

  max-width: 270px;
  width: 100%;

  background-color: #fff;

  transition: box-shadow 500ms ease;
}

.cardMini:hover {
  box-shadow: 4px 4px 6px 2px rgba(34, 60, 80, 0.25);
}

.img {
  position: relative;

  width: 100px;
  height: 90px;

  margin-right: 20px;
}

.name {
  font-weight: 500;
  font-size: 14px;

  color: $bg;
}

.category {
  color: $green;

  line-height: 25px;

  font-size: 12px;
}

.price {
  font-weight: 700;
  font-size: 18px;

  color: $bg;
}

@media (max-width: 1200px) {
  .cardMini {
    max-width: 45%;
  }
}

@media (max-width: 600px) {
  .cardMini {
    max-width: 100%;
  }
}
