@import '@styles/variables.scss';

.basketContainer{
    flex-grow: 1;
    margin-bottom: 70px;
}

.container{
    width: 1170px;
    margin: 0 auto;
    color: #555555;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.basketTitle{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
}

.ordering{
    border-radius: 12px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
    padding: 15px;
    height: fit-content;
    .btn{
        background: $brightgreen;
        height: 40px;
        color: white;
        font-size: 16px;
    }

}

.basket{
    border-radius: 12px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
    padding: 20px;
    height: fit-content;
    margin-right: 15px;
}

.title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.products{
    font-size: 16px;
    margin-bottom: 10px;
}

.price{
    font-size: 16px;
}


