@import "@styles/variables.scss";

.tooltip {
  width: 270px;

  position: absolute;
  top: 62px;
  right: 0;

  z-index: 1;

  transition: all 0.3s;
  height: 0px;

  overflow: hidden;
  div {
    transition: padding 0.3s;
  }
  a {
    transition: padding 0.3s;
  }

  .btn {
    font-weight: 700;

    color: #fff;

    font-size: 14px;

    padding: 12px 5px;
  }

  .chart {
    width: 100px;

    margin-right: 6px;

    background-color: $green;
    &:hover {
      @include btnHover($green);
    }
  }

  .checkout {
    width: 120px;

    background-color: $red;
    &:hover {
      @include btnHover($red);
    }
  }
}

.total {
  padding: 16px 20px 12px;

  border: 1px solid #e0e0e0;

  background-color: #fff;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;

  margin-bottom: 15px;

  font-weight: 700;

  font-size: 16px;

  color: $bg;
}

@media (max-width: 840px) {
  .tooltip {
    right: -118px;
  }
}
