@import "@styles/variables.scss";

.author {
  background: url("../../assets/bg/author-bg.jpg");

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 800px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.authorBox {
  max-width: 650px;
  min-height: 215px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $green;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  color: #fff;

  margin-right: 45px;

  max-width: 260px;

  span {
    font-weight: 700;
  }
}

.link {
  font-size: 18px;
  line-height: 36px;
  padding: 14px 40px;
  background-color: #fff;
}
