@import "@styles/variables.scss";

.tranding {
  padding: 110px 0 120px 0;
}

.swiperPagination {
  display: flex;
  justify-content: center;

  padding-top: 50px;
}

.swiperPaginationBullet {
  border-radius: 50%;

  margin: 0 3.5px;

  background-color: rgba(232, 232, 232);

  width: 16px;
  height: 16px;

  display: inline-block;

  cursor: pointer;
}

.swiperPaginationBulletActive {
  background: $green;
}
