@import "@styles/variables.scss";

.page {
  background-color: #fff;

  border: 1px solid #dcdcdc;
}

.title {
  font-size: 24px;

  margin: 0;

  font-weight: 500;

  background-color: #fff;

  color: #444;

  padding: 23px 27px;

  border-bottom: 1px solid #dcdcdc;

  padding: 25px 36px;
}

.content {
  padding: 25px 36px;
}

.inputLine {
  margin-bottom: 21px;

  display: flex;
  align-items: center;

  label {
    width: 260px;

    color: #444;
  }
  input {
    max-width: 540px;

    width: 100%;
    height: 40px;

    color: #000;

    background-color: #f9f9f9;

    border: 1px solid #dcdcdc;

    padding: 0 10px;
  }
}

.btn {
  color: #fff;

  background-color: $green;

  padding: 10px 30px;

  margin-left: 256px;
}

.btn:hover {
  @include btnHover($green);
}

@media (max-width: 1200px) {
  .inputLine {
    margin-bottom: 21px;

    label {
      width: 260px;

      color: #444;
    }
    input {
      max-width: 100%;

      height: 40px;

      color: #000;

      background-color: #f9f9f9;

      border: 1px solid #dcdcdc;

      padding: 0 10px;
    }
  }
  .btn {
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  .inputLine {
    display: block;
    label {
      display: inline-block;

      margin-bottom: 5px;
    }
  }
  .content,
  .title {
    padding: 20px;
  }
}
