@import '@styles/variables.scss';

.wrapper{
    display: flex;
    img{
        margin: 0 10px;
    }
}

.menuItem{
    position: relative;
    cursor: pointer;
}

.counter{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    color: #FFFFFF;
    background: $brightgreen;
    position: absolute;
    right: 2px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}