.advantages{
    display: flex;
    align-items: center;
}

.title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #555555;
    margin-left: 15px;
}

.description{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
    margin-left: 15px;
}