@import "@styles/variables.scss";

.about {
  background-color: $gray;

  padding-bottom: 150px;
}

.outher {
  background-color: #fff;

  padding: 0 50px;
}

.outherTitle {
  font-size: 20px;

  font-weight: 700;

  color: #444;

  margin-top: 40px;
  margin-bottom: 15px;
}

.outherText {
  margin-bottom: 40px;

  color: #707070;
}
