@import '@styles/variables.scss';

.container{
    width: 1170px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.top{
    background: $green;
    height: 50px;
    .title{
        font-size: 16px;
        line-height: 19px;
        color: white;
    }
    span{
        font-size: 14px;
        color: white !important;
    }
    .login{
        font-family: $fontRubik;
        font-size: 14px;
        color: white;
        text-decoration: none;
        margin-left: 15px;
    }

}

.bottom{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}