@import "@styles/variables.scss";

.tabsBox {
  border: 1px solid #d7d7d7;
}

.tabs {
  .tab {
    background-color: #fff;
    flex-grow: 1;

    font-size: 16px;

    color: #70838d;

    padding: 20px 0;

    transition: color 500ms ease;
    & + & {
      border-left: 1px solid #d7d7d7;
    }
    &:hover {
      color: #263238;
    }
  }
}

.tabPanelBox {
  background-color: #fff;

  border: 1px solid #d7d7d7;
  border-top: none;

  padding: 50px 30px;
}

.featListItems {
  column-count: 2;
}

.featListItem {
  line-height: 36px;

  font-size: 16px;
  color: #707070;

  position: relative;

  padding-left: 22px;

  &::before {
    content: url("../../../../assets/icons/angle-right.svg");

    position: absolute;

    top: 3px;
    left: 0px;
  }
}

@media (max-width: 600px) {
  .tabs {
    .tab {
      max-width: 100%;

      font-size: 14px;
      & + & {
        border-left: none;
        border-top: 1px solid #d7d7d7;
      }
    }
  }
  .tabPanelBox {
    padding: 20px;
  }
  .featListItems {
    column-count: 1;
  }
}
