@import '@styles/variables.scss';

.status{
    font-family: $fontMulish;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    padding: 3px 10px;
    box-sizing: border-box;
}