@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import "./variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  line-height: 24px;
  font-size: 15px;

  margin: 0;
  padding: 0;
}

a {
  display: inline-block;

  text-decoration: none;

  color: $color-text;
}

ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  max-width: 1200px;

  margin: 0 auto;

  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;

  margin: 0 auto;

  padding: 0 30px;
}

.aside-box {
  padding: 30px;

  max-width: 270px;
  width: 100%;

  background-color: #fff;

  border: 1px solid #dcdcdc;
}

.aside-title {
  font-size: 20px;
  font-weight: 700;

  color: $bg;

  padding-bottom: 25px;

  border-bottom: 1px solid #dcdcdc;
}

.inner-container {
  border: 1px solid #dcdcdc;

  background-color: #fff;
}

.inner-title {
  font-size: 24px;

  margin: 0;

  font-weight: 500;

  background-color: #fff;

  color: #444;

  padding: 23px 27px;

  border-bottom: 1px solid #dcdcdc;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.basic-input {
  border: none;

  height: 45px;

  padding: 0px 20px;

  background-color: #f1f4f5;
  &::placeholder {
    font-size: 15px;

    color: #7a7a7a;
  }
}

.basic-textarea {
  border: none;

  resize: none;

  padding: 10px 20px;

  background-color: #f1f4f5;
  &::placeholder {
    font-size: 15px;

    color: #7a7a7a;
  }
}

.social {
  li {
    width: 28px;
    height: 28px;

    background-image: url("/social_sprites.png");

    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }

  .linkedIn {
    background-position: -28px -0;
  }

  .youTube {
    background-position: -56px -0;
  }

  .pinterest {
    background-position: -0 -28px;
  }

  .twitter {
    background-position: -28px -28px;
  }
}

.basket:hover {
  .basket-tooltip {
    height: 100%;

    overflow: visible;
    & > a {
      padding: 20px;
    }
  }
}

.message:hover {
  .message-tooltip {
    height: 100%;

    overflow: visible;
    & > div {
      padding: 20px;
    }
  }
}

.notification:hover {
  .notification-tooltip {
    height: 100%;

    overflow: visible;
    & > div {
      padding: 20px;
    }
  }
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 8px;
  }
}
