// colors

$color-text: #546e7a;
$red: #e74c3c;
$green: #8bc34a;
$bg: #263238;
$gray: #f4f6f5;
$orange: #ef6c00;
$yellow: #fcb322;

// mixins

@mixin btnHover($color) {
  background: rgba(0, 0, 0, 0);
  color: $color;
  box-shadow: inset 0 0 0 3px $color;
}
