@import "@styles/variables.scss";

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0 22px;

  padding: 0 15px;

  width: 160px;

  position: relative;

  cursor: pointer;

  height: 90px;

  &:hover {
    .menu {
      height: auto;

      border-width: 1px;

      overflow: hidden;

      padding: 20px;
    }
  }
}

.menuLink:hover {
  font-size: 14px;
}

.info {
  font-size: 14px;
  line-height: 24px;

  margin-left: 15px;
}

.name {
  color: #222;

  font-weight: 500;
}

.balance {
  color: $green;

  font-weight: 700;
}

.menu {
  border: 0px solid rgba(204, 204, 204);

  background-color: #fff;

  padding: 0 20px;

  width: 160px;

  position: absolute;
  top: 90px;
  left: 0;

  transition: all 0.3s;
  height: 0px;

  overflow: hidden;

  z-index: 1;

  ul {
    li {
      position: relative;

      font-size: 12px;

      line-height: 23px;

      color: #546e7a;

      padding-left: 18px;

      & + li {
        margin-top: 10px;
      }
      &::before {
        content: url("../../../../../assets/icons/angle-right.svg");
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.logout {
  display: none;
}

@media (max-width: 840px) {
  .user {
    margin: 0;
  }
  .logout {
    display: block;
  }
  .menu {
    right: 0;
    left: unset;
  }
}
